<header class="main-header">
    <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars" class="button"></button>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
        <h1 class="sidebar-title">Sidebar</h1>

        <p-button type="button" (click)="visibleSidebar1 = false" (click)="Movies('movies')" label="Movies"
            styleClass="p-button2"></p-button>

    </p-sidebar>

    <button pButton type="button" label="Prijava" class="p-button1"></button>

</header>