<div class="movies-list-item">
    <div class="movies-item-upper-container">
        <div class="btn-holder">
            <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded"></button>
        </div>
        <div class="movies-item-img-container">
            <img src="./assets/MovieCover1.jpg" alt="Movie-cover">
        </div>

    </div>
    <div class="movies-item-bottom-container">
        <span>{{movieItem.title}}</span>
        <button pButton type="button" label="Detalji" class="p-button1"></button>

    </div>

    <!-- <div class="btn-holder">
            <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded"></button>
    </div>
    <img src="desktop\samuel-regan-asante-wMkaMXTJjlQ-unsplash.jpg" alt="Movie-cover" class="Cover">
    <h1 class="Title">Naziv Filma</h1>
    <button pButton type="button" label="Detalji" class="p-button1"></button> -->

</div>