<!-- vanjski -->
<div class="top-container">
    <!-- središnji sa sadržajem -->
    <div class="movies-details-central-container">
        <div class="cover-photo-cont">
            <img src="./assets/MovieCover1.jpg" alt="Movie-cover">
        </div>
        <div class="movie-details-cont">
            <div class="title-header">
                <span class="title">Naziv Filma</span>
                <span class="year-duration">2021. - 2h 35min</span>
            </div>
            <div class="ganre-summary-director">
                <span class="ganre">Sci-fi / Adventure </span>
                <span class="summary">A noble family becomes embroiled in a war for 
                    control over the galaxy's most valuable asset while 
                    its heir becomes troubled by visions of a dark future.</span>
                <span class="director">Direktor: Denis Villeneuve </span>
            </div>
            <div class="main-cast">
                <div class="main-cast-title">
                    <span>Glavni glumci:</span>
                </div>
                <div class="main-cast-names">
                    <ul type="none">
                        <li>Timothée Chalamet</li>
                        <li>Rebecca Ferguson</li>
                        <li>Oscar Isaac</li>
                        <li>Jason Momoa</li>
                    </ul>
                </div>
            </div>
            <div class="wishlist-btn-container">
            <button pButton type="button" label="Dodaj na listu želja" icon="pi pi-plus" iconPos="left" class="wishlist-btn"></button>
            </div>
        </div>
    </div>

    <div class="button-back-next">
        <button pButton label="Prethodna" icon="pi pi-angle-left" class="prethodna"></button>
        <button pButton label="Sljedeća" icon="pi pi-angle-right" iconPos="right" class="sljedeća" ></button>
    </div>

</div>