<!-- gornji -->

<div class="main-container">
    <!-- centralni  -->
    <div class="central-container">
        <movies-list-item *ngFor="let movieItem of moviesList.slice(0,6)" [movieItemInput]="movieItem">

        </movies-list-item>
    </div>

    <div class="button-back-next">
        <button pButton label="Prethodna" (click)="onBack()" icon="pi pi-angle-left" class="prethodna"></button>
        <button pButton label="Sljedeća" (click)="onNext()" icon="pi pi-angle-right" iconPos="right"
            class="sljedeća"></button>
    </div>
</div>