<!-- vanjski -->
<div class="top-container">
    <!-- središnji sa sadržajem -->
    <div class="movies-details-central-container">
        <div class="cover-photo-cont">
            <img src="./assets/MovieCover1.jpg" alt="Movie-cover">
        </div>
        <div class="movie-details-cont">
            <div class="title-header"></div>
            <div class="ganre-summary-director"></div>
            <div class="main-cast">
                <div class="main-cast-title"></div>
                <div class="main-cast-names"></div>
            </div>
            <div class="wishlist-btn-container">
            <button pButton type="button" label="Dodaj na listu želja" icon="pi pi-plus" iconPos="left" class="wishlist-btn"></button>
            </div>
        </div>
    </div>
</div>