.main-container{
    border: solid 2px blue;
    height: 100%;
    display: flex;
    /* flex-wrap: wrap; */

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.central-container{
    border: solid 2px green;
    height: 690px;
    width: 940px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

}

.movies-list-item{
    border: solid 2px red;
    height: 320px;
    width: 262px;

    -webkit-box-shadow: 5px 9px 15px 5px #000000; 
    box-shadow: 5px 9px 15px 5px #000000;
}

.main-container > .button-back-next{
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    gap: 130px;

}

.prethodna:hover{
    background-color: green;
}
.prethodna{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #99bf84;
    /* align-self: flex-end; */


    -webkit-box-shadow: 5px 9px 15px 5px #000000; 
    box-shadow: 5px 9px 15px 5px #000000;
}

.sljedeća:hover{
    background-color: green;
}
.sljedeća{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #99bf84;
    /* align-self: flex-end; */
    
    -webkit-box-shadow: 5px 9px 15px 5px #000000; 
    box-shadow: 5px 9px 15px 5px #000000;
}