<!-- gornji -->
<div class="main-container">
     <!-- centralni  -->
    <div class="central-container">
        <movies-list-item></movies-list-item>
        <movies-list-item></movies-list-item>
        <movies-list-item></movies-list-item>
        <movies-list-item></movies-list-item>
        <movies-list-item></movies-list-item>
        <movies-list-item></movies-list-item>
    </div>
    
    <div class="button-back">
        <button pButton label="Prethodna" icon="pi pi-angle-left" class="prethodna"></button>
    </div>
    <div class="button-next">
        <button pButton label="Sljedeća" icon="pi pi-angle-right" iconPos="right" class="sljedeća" ></button>
    </div>
</div>