.top-container {
    border: solid 2px blue;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.top-container > .button-back-next{
    display: flex;
    flex-direction: row;
    gap: 310px;
    padding-top: 50px;
}

.movies-details-central-container{
    border: solid 2px green;
    height: 690px;
    width: 940px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

}

.movies-details-central-container > div {
    border: solid 2px black;
    height: 100%;
}

.cover-photo-cont{
    width: 315px;
    height: 100%;
    
    overflow: hidden;
    position: relative;
}

.cover-photo-cont > img {
    height: 100%;

    /* position: absolute;
    top: 0;
    left: 0; */

}

.movie-details-cont{
    background-color: #99bf84;
    width: 625px;
    overflow: hidden;

}

.movie-details-cont > .wishlist-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-header{
    display: flex;
    justify-content: space-between;

}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #fff;
    padding-left: 30px;
    padding-top: 28px;
}

.year-duration{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
    padding-right: 31px;
    padding-top: 37px;
}

.ganre-summary-director{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
    padding-left: 30px;

    display: flex;
    flex-direction: column;
}

.ganre{
    padding-top: 23px;
    padding-bottom: 25px;
}

.summary{
    padding-bottom: 25px;
}

.director{
    padding-bottom: 25px;
}

.main-cast{
    display: flex;
    flex-direction: row;

    padding-left: 25px;

}

.main-cast > div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #fff;
    padding-left: 5px;

}

.wishlist-btn-container{
   padding-top: 50px;
}

.wishlist-btn:hover{
    background-color: green;
}
.wishlist-btn{
    font-family: Arial, Helvetica, sans-serif;
    /* border-radius: 10px; */
    background-color: #dce9d5;
    width: 413px;
    
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 3px 12px 0px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 3px 3px 12px 0px rgba(0,0,0,0);
}

.prethodna:hover{
    background-color: green;
}
.prethodna{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #99bf84;
    /* align-self: flex-end; */


    -webkit-box-shadow: 5px 9px 15px 5px #000000; 
    box-shadow: 5px 9px 15px 5px #000000;
}

.sljedeća:hover{
    background-color: green;
}
.sljedeća{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    background-color: #99bf84;
    /* align-self: flex-end; */
    
    -webkit-box-shadow: 5px 9px 15px 5px #000000; 
    box-shadow: 5px 9px 15px 5px #000000;
}
