@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/vela-green/theme.css';
@import '~primeng/resources/primeng.min.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}
body {
  background-image: url(./assets/denise-jans-Lq6rcifGjOU-unsplash.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
 
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}